		<h1>Help</h1>
		<p>
			Get help on Ruby on Rials Tutorial at the
			<a href="http://railstutorial.org/help">Ruby on Rails Tutorial help page</a>
		    To get help on this app, see the 
		    <a href="http://railstutorial.org/book">Rails Tutorial Book</a>
		</p>
